.light {
    --5A3uBA: #f4f4f6
}

.dark {
    --5A3uBA: #252627
}

.Wrk03w {
    position: relative;
    display: flex;
    width: 100%;
    align-items: stretch;
    box-sizing: border-box;
    height: 40px;
    border-radius: 4px;
    color: var(--pUV7hA);
    background-color: var(--Rij56g);
    border: 1px solid;
    border-color: var(--7hnsIg);
    padding: 0 12px;
    cursor: text
}

body:not(.theme) .Wrk03w {
    color: #0e1318;
    background-color: #fff;
    border-color: rgba(53, 71, 90, .2)
}

._7r5TJw {
    padding-left: 0
}

.s5hqTw {
    padding-right: 0
}

.c7zhBg:not(.U8_pEg, .HMkvaQ, .xThZKg, .hz9dow):hover {
    border-color: var(--hmBz5w)
}

body:not(.theme) .c7zhBg:not(.U8_pEg, .HMkvaQ, .xThZKg, .hz9dow):hover {
    border-color: rgba(30, 41, 51, .45)
}

.U8_pEg {
    border-color: var(--3j0O2w)
}

body:not(.theme) .U8_pEg {
    border-color: #7d2ae8
}

.DHY8xg {
    outline-offset: -2px;
    outline: 2px solid Highlight;
    outline: 2px solid -webkit-focus-ring-color
}

.xThZKg {
    border-color: var(--CgOmqg)
}

body:not(.theme) .xThZKg {
    border-color: #f84856
}

.HMkvaQ {
    color: var(--fSfh3A);
    background-color: var(--5A3uBA);
    border-color: var(--6qQCNQ);
    cursor: not-allowed
}

body:not(.theme) .HMkvaQ {
    color: rgba(30, 41, 51, .45);
    background-color: rgba(64, 87, 109, .07);
    border-color: rgba(53, 71, 90, .2)
}

.l6IEZQ {
    color: var(--FTyzZQ);
    border-color: var(--6qQCNQ);
    background-color: var(--5A3uBA)
}

body:not(.theme) .l6IEZQ {
    color: rgba(14, 19, 24, .7);
    border-color: rgba(53, 71, 90, .2);
    background-color: rgba(64, 87, 109, .07)
}

.hz9dow:not(.xThZKg),
body:not(.theme) .hz9dow:not(.xThZKg) {
    border-color: transparent;
    background-color: transparent
}

.s-JGcg {
    width: 100%;
    padding: 0 0 1px;
    box-sizing: border-box;
    border: 0;
    color: inherit;
    background: transparent;
    outline: none;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.s-JGcg::-ms-clear {
    display: none
}

.CmLV0g::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    position: absolute;
    right: 0
}

.s-JGcg::-webkit-input-placeholder {
    color: var(--Ya2EDg)
}

.s-JGcg::-moz-placeholder {
    color: var(--Ya2EDg)
}

.s-JGcg::-ms-input-placeholder {
    color: var(--Ya2EDg)
}

.s-JGcg::placeholder {
    color: var(--Ya2EDg)
}

body:not(.theme) .s-JGcg::-webkit-input-placeholder {
    color: rgba(17, 23, 29, .6)
}

body:not(.theme) .s-JGcg::-moz-placeholder {
    color: rgba(17, 23, 29, .6)
}

body:not(.theme) .s-JGcg::-ms-input-placeholder {
    color: rgba(17, 23, 29, .6)
}

body:not(.theme) .s-JGcg::placeholder {
    color: rgba(17, 23, 29, .6)
}

.s-JGcg:disabled {
    cursor: not-allowed;
    color: var(--fSfh3A)
}

body:not(.theme) .s-JGcg:disabled {
    color: rgba(30, 41, 51, .45)
}

.rr8GjQ {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 32px;
    padding: 0 4px
}

.rr8GjQ:first-child {
    padding-left: 3px
}

.rr8GjQ:last-child {
    padding-right: 3px
}

.CItIxQ {
    text-align: center
}

.s-JGcg[type=number]::-webkit-inner-spin-button,
.s-JGcg[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.s-JGcg[type=number] {
    -moz-appearance: textfield
}

.s-JGcg[type=search]::-webkit-search-cancel-button,
.s-JGcg[type=search]::-webkit-search-decoration,
.s-JGcg[type=search]::-webkit-search-results-button,
.s-JGcg[type=search]::-webkit-search-results-decoration {
    display: none
}

.Ae7qrg {
    direction: ltr
}

.RGsoXQ {
    direction: rtl
}

.bPNiCw {
    position: relative;
    width: 100%;
    height: 0
}

.hyEEhg {
    position: absolute;
    bottom: 0;
    left: 0
}

.light,
body:not(.theme) .n7vSfw {
    --cT3jbA: 0.07;
    --HtChog: 0.025
}

.dark,
body:not(.theme) .h2NH8g {
    --cT3jbA: 0.15;
    --HtChog: 0.10
}

@-webkit-keyframes HrpoWA {
    0% {
        opacity: var(--cT3jbA)
    }
    25% {
        opacity: var(--HtChog)
    }
    50% {
        opacity: var(--cT3jbA)
    }
    to {
        opacity: var(--cT3jbA)
    }
}

@keyframes HrpoWA {
    0% {
        opacity: var(--cT3jbA)
    }
    25% {
        opacity: var(--HtChog)
    }
    50% {
        opacity: var(--cT3jbA)
    }
    to {
        opacity: var(--cT3jbA)
    }
}

.n7vSfw {
    background: var(--pUV7hA);
    opacity: var(--cT3jbA)
}

.S-ZkxQ {
    -webkit-animation: HrpoWA 1.4s infinite;
    animation: HrpoWA 1.4s infinite
}

body:not(.theme) .n7vSfw {
    background: #0e1318
}

body:not(.theme) .h2NH8g {
    background: #fff
}

.abYU1Q {
    border-radius: 50%
}

.abYU1Q,
.ccpanQ {
    width: 100%;
    padding-top: 100%
}

.ccpanQ,
.UG13Dw {
    border-radius: 4px
}

.UG13Dw {
    width: 100%;
    height: 100%
}

._4RR-JA {
    border-radius: 0
}

._2PfzsQ,
.uYOLFg {
    border-radius: 10px
}

.uYOLFg {
    height: 1rem
}

.KNA9cA {
    border-radius: 10px;
    height: 1.4rem
}

.sFcesQ {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none
}

.a8ikEw {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    flex-shrink: 0;
    background: 50%/16px repeat url(images/33f9497da99ca300d7b465efe9294c1e.png)
}

._18tjaw {
    position: absolute;
    outline: none;
    cursor: auto
}

._18tjaw:hover {
    cursor: unset
}

._6yImBA,
.QzPv0g {
    will-change: transform
}

.BgMazg {
    overflow: hidden
}

.n9SN2w {
    position: absolute
}

.IVKCLA {
    pointer-events: auto
}

.JDZJbQ {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #0e1318
}

.JZ59Kw {
    overflow: hidden;
    position: absolute;
    pointer-events: none
}

.wEhAKg {
    pointer-events: auto
}

.D_RfTw {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.RNFNIA {
    padding: 16px;
    border-radius: 4px;
    overflow: auto;
    box-sizing: border-box;
    width: 100%
}

body:not(.theme) .RNFNIA {
    color: #0d1216
}

._8vlbIg {
    padding: 12px
}

._2l-hHA {
    border-radius: 0
}

.eCRvjw {
    flex-grow: 1;
    overflow: auto
}

.NXeakQ {
    height: 1px
}

.czV2Sw {
    float: left;
    font-weight: 600
}

._2E9Y8A {
    margin-top: -4px;
    -webkit-transform: translate(4px, 2px);
    transform: translate(4px, 2px)
}

._8vlbIg ._2E9Y8A {
    margin-top: -6px
}

.HAo7AQ {
    background-color: var(--1GR_Og);
    color: var(--7Jsj3A)
}

body:not(.theme) .HAo7AQ {
    background-color: #dbf3cc;
    color: #0d1216
}

.wJUTbg {
    background-color: var(--wpHozg);
    color: var(--a01w0A)
}

body:not(.theme) .wJUTbg {
    background-color: #ffedbd;
    color: #0d1216
}

.SSiHbw {
    background-color: var(--k8LaaQ);
    color: var(--XRo-NQ)
}

body:not(.theme) .SSiHbw {
    background-color: #ffd6da;
    color: #0d1216
}

._9y-BYQ {
    background-color: var(--axckVg);
    color: var(--ypAvbQ)
}

body:not(.theme) ._9y-BYQ {
    background-color: #d1eefc;
    color: #0d1216
}

.WoE5Nw {
    display: flex
}

._8aslVA {
    display: block
}

._8aslVA>svg {
    display: block
}

._8aslVA>svg,
.BmXofw {
    width: 100%;
    height: 100%
}

.BmXofw {
    position: relative
}

/*# sourceMappingURL=sourcemaps/1afeb5223fb7fa69.ltr.css.map*/